[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lambdr"]
	path = lambdr
	url = https://github.com/mdneuzerling/lambdr
[submodule "ptvapi"]
	path = ptvapi
	url = https://github.com/mdneuzerling/ptvapi
